@charset "utf-8";
body,ul,ol,p{margin: 0;padding: 0;}
ul,ol{list-style: none;}
img{border: none; vertical-align:middle;}
a{text-decoration: none;}

.clearfix:after,.clearfix:before{content: "";display: table;}
.clearfix:after{clear: both;}
.clearfix{*zoom:1;}

.gwidth{
	width: 969px;
	margin: 0 auto;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.mt{
	margin-top: 21px;
}
.mr{
	margin-right: 26px;
}