html, body, ul, li, h1, h2, h3, h4, h5, h6{padding:0; margin:0;}
ul,li {list-style-type:none; text-transform:capitalize; }
*{text-decoration: none; font-family: '微软雅黑';}
a{color: #000;}
.clearfix:after{content: "";
display: block
;clear: both;
}
  .banner {background: url(../images/) no-repeat;
    background-size: cover;
     width:100%; 
     height: 300px; 
     display:block;
     text-align:center;
     z-index: -1;
   }
  .logo {display: inline-block;
  }
  .logo_p {font-size: 60px;
    font-weight: 500;
    position: absolute; 
    top: 100px;
    left: 100px;
  }
  .gwidth{ width: 1200px;
    margin: 0 auto;
  }
  .left{float: left;}
  .right{float: right;}
  .nav {font-size: 20px;
    position: fixed;
    margin: 0 auto;
    top: 0px;
    width: 100%;
    height: 60px;
    background-color:#333333;
    z-index: 1;
  }
  .nav ul li{padding-right: 10px;
   font-weight: 400;
   line-height: 58px;
 }
  .nav a {display: block;
  padding: 0 16px;
  cursor: default; /*鼠标样式*/
}
  .nav_menu {line-height: 45px; }
  .nav_menu li{color: #000;}
  .nav_menu-item {display: inline-block;
    position: relative;
  }
  .nav_menu-item a{text-decoration: none;}
  .nav_menu-item:hover {border-bottom-width: 2px;
    border-bottom-color: #eb5424;
    border-bottom-style: solid;
  }
  .nav_menu-item:hover .nav_submenu {display: block;}
  .nav_submenu {font-weight: 500;
   text-align: left;
    display: none;
    position: absolute;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .nav_submenu-item:hover {border-bottom-width: 2px;
    border-bottom-color: #eb5424;
    border-bottom-style: solid;
    text-align: center;
  }
  .sidebar{width: 300px;
    height: 420px;
    border: 0px;
    position: relative;
    display: block;
    left: 125px;
    top: -100px;
  }
  .sidebar span{width: 300px;
    height:60px;
    border: 0px;
    display: block;
    position: relative;
     }
  .sidebar_1 span{width: 225px;
    height: 60px;
    border: 0px;
    position: absolute;
    top: 0px;
    right: 20px;
    line-height: 28px;
    cursor: default;
}
  .sidebar_2 span{width: 225px;
    height: 60px;
    border: 0px;
    position: absolute;
    top: 0px;
    right: 20px;
    line-height: 28px;
    cursor: default;
  }
  .sidebar_3 span{width: 225px;
    height: 60px;
    border: 0px;
    position: absolute;
    top: 0px;
    right: 20px;
    line-height: 28px;
    cursor: default;
  }
  .sidebar_4 span{width: 225px;
    height: 60px;
    border: 0px;
    position: absolute;
    top: 0px;
    right: 20px;
    line-height: 28px;
    cursor: default;
  }
  .sidebar_5 span{width: 225px;
    height: 60px;
    border: 0px;
    position: absolute;
    top: 0px;
    right: 20px;
    line-height: 28px;
    cursor: default;
  }
  .sidebar_6 span{width: 225px;
    height: 60px;
    border: 0px;
    position: absolute;
    top: 0px;
    right: 20px;
    line-height: 28px;
    cursor: default;
  }
  .sidebar_7 span{width: 225px;
    height: 60px;
    border: 0px;
    position: absolute;
    top: 0px;
    right: 20px;
    line-height: 28px;
    cursor: default;
  }
  /*content2*/
  .news{position: relative;
    top: -50px;
    text-align: center;
  }
  .content_2{width: 1200px;
    height: 323px;
    border: 0px;
  }
  .content_21{width: 393px;
    height: 323px;
    border:1px solid #54eaad;
    display: inline-block;
    transition: 1.5s;
  }
  .content_22{width: 393px;
    height: 323px;
    border:1px solid #54eaad;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    transition: 1.5s;
  }
  .content_23{width: 393px;
    height: 323px;
    border:1px solid #54eaad;
    display: inline-block;
    transition: 1.5s;
  }
   .content_021{width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #eb5424;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
  }
   .content_022{width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #eb5424;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
  }
   .content_023{width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #eb5424;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
  }
   .text_1{text-align: center;}
   .text_2{text-align: center;}
   .text_3{text-align: center;}
   .content_021 i{font-size: 40px;
    color: #fff;
    line-height: 100px;
  }
   .content_022 i{font-size: 35px;
    color: #fff;
    line-height: 100px;
  }
   .content_023 i{font-size: 35px;
    color: #fff;
    line-height: 100px;
  }
   .content_21:hover{background-color: #0099e5;
    color: #fff;
  }
   .content_21:hover .content_021{background-color: #54eaad;}
    .content_22:hover{background-color: #0099e5;color: #fff;}
   .content_22:hover .content_022{background-color: #54eaad;}
   .content_23:hover{background-color: #0099e5;color: #fff;}
   .content_23:hover .content_023{background-color: #54eaad;}

   /*content3*/
   .content3{width: 100%;
    height: 505px;
    background-color:#54eaad;
    position: relative;
    top: 30px;
    z-index: -2;
  }
   .content_30{background: url(../images/slider-4.jpg) no-repeat;
    width: 380px;
    height: 505px;
    display: block;
    text-align: center;
    position: absolute;
    left: 160px;
    top: 1144px;
    z-index: -1;
  }
    .content_31{width: 326px;
      height: 321px;
      background-color:#fff;
      position: absolute;
      top: 1250px;
      right: 510px;
    }
    .content_32{width: 418px;
      height: 410px;
      background: url(../images/slider-5.jpg) no-repeat;
      display: block;
      position: absolute;
      right: 160px;
      z-index: -1;
      top: 1200px;
    }
      .content_34{width: 54px;
        height: 54px;
        transform: rotate(45deg);
        background-color: #0c68d6;
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        text-align: center;
        transition: 1.5s;
      }
      .content_34 i{font-size: 36px;
        color: #fff;
        line-height: 54px;
      }
      .content_031{font-size: 18px;
        color:#0c68d6;
      }
      .content_032{font-size: 18px;
        color:#0c68d6;
        }
      .content_033{font-size: 18px;
        color:#0c68d6;
      }
      .content_034{font-size: 18px;
        color:#0c68d6;
      }
      .content_34:hover{opacity: 0.45}
      .te{position: relative;
        top: 40px;
        text-align: center;
        color: #0c68d6;
      }
      .intro{position: relative;
        top: 60px;
        text-align: center;
        color: #999;
      }

/*content4*/
      .content_4{width: 1140px;
        height: 330px;
        border: 0px;
        position: relative;
        top: 70px;
      }
      .content_41{width: 370px;
        height: 330px ;
        border: 0px;
        display: inline-block;
        position: relative;
      }
      .content_42{width: 370px;
        height: 330px ;
        border: 0px;
        display: inline-block;
        margin-right: 10px;
        margin-left: 10px;
        position:  relative;
        }
      .content_43{width: 370px;
        height: 330px ;
        border: 0px;
        display: inline-block;
        position:relative;
      }
      .font_1{color:#54eaad;
        position: absolute;
        top: 20px;
        left: 30px;
      }
      .font_2{color:#54eaad;
        position: absolute;
        top: 20px;
        left: 30px;
      }
      .font_3{color:#54eaad;
        position: absolute;
        top: 20px;
        left: 30px;
      }
      .font_01{color:#fff;
        position: absolute;
        top: 70px;
        left: 30px;
      }
      .font_02{color:#fff;
        position: absolute;
        top: 70px;
        left: 30px;
      }
      .font_03{color:#fff;
        position: absolute;
        top: 70px;
        left: 30px;
      }
      .font_11{color: #fff;
        font-family: 宋体;
        font-size:16px;
        text-align: left;
        position: absolute;
        top:110px;
        left: 30px;
      }
      .font_12{color: #fff;
        font-family: 宋体;
        font-size:16px;
        text-align: left;
        position: absolute;
        top:110px;
        left: 30px;
      }
      .font_13{color: #fff;
        font-family: 宋体;
        font-size:16px;
        text-align: left;
        position: absolute;
        top:110px;
        left: 30px;
      }
      .font_001{position: absolute;
        bottom: 10px;
        right: 35px;
        color: rgba(255,255,255,0.6);
        font-size: 3em;
        cursor: default;
      }
      .font_002{position: absolute;
        bottom: 10px;
        right: 35px;
        color: rgba(255,255,255,0.6);
        font-size: 3em;
        cursor: default;
      }
      .font_003{position: absolute;
        bottom: 10px;
        right: 35px;
        color: rgba(255,255,255,0.6);
        font-size: 3em;
        cursor: default;
      }

      /*footer*/
        .footer{background-color: #222;
          width: 100%;
          height: 100px;
          text-align: center;
          position: absolute;
          top: 2170px;
        }
          .footer_copy{color: #fff;
            font-size: 16px;
            font-family:'宋体';
          }
          .copyright1:hover{background-color:#eb5424; }
          .copyright2:hover{background-color:#eb5424; }
          .copyright3:hover{background-color:#eb5424; }
          .copyright4:hover{background-color:#eb5424; }
          .copyright{position: absolute;right: 210px;}
