html, body, ul, li, h1, h2, h3, h4, h5, h6{padding:0; margin:0;}
ul,li {list-style-type:none; text-transform:capitalize; }
*{text-decoration: none; font-family: '微软雅黑'; }
.clearfix:after{content: "";
display: block;
clear: both;
}
  .banner {background: url(../images/banner.jpg) no-repeat;
    background-size: cover;
     width:100%;
      height: 275px;
       display:block;
       text-align:center;
     }
  .logo {display: inline-block;}
  .logo_p {font-size: 60px;
  font-weight: 500;
  position: absolute;
  top: 20px;
  left: 100px;
  }
  .gwidth{ width: 1200px;
    margin: 0 auto;
  }
  .left{float: left;}
  .right{float: right;}
  .nav {font-size: 20px;
    position: absolute;
    top: 50px;
    right: 100px;
    width: 500px;
    margin: 0 auto;
    background: #1e8449;
    color: #f0f0f0;
    background-color: rgba(0, 0, 0, 0.0);
  }
  .nav ul li{padding-right: 10px;
    font-weight: 400;
  }
  .nav a {display: block;
  padding: 0 16px;
cursor: default; /*鼠标样式*/
}
  .nav_menu {line-height: 45px;}
  .nav_menu-item {display: inline-block;
    position: relative;
  }
  .nav_menu-item a{text-decoration: none;}
   .nav_menu-item:hover {border-bottom-width: 2px;
    border-bottom-color: #eb5424;
    border-bottom-style: solid;
  }
   .nav_submenu-item:hover {border-bottom-width: 2px;
    border-bottom-color: #eb5424;
    border-bottom-style: solid;
    text-align: center;
  }
  .nav_menu-item:hover .nav_submenu {display: block;}
  .nav_submenu {font-weight: 500;
   text-align: left;
    display: none;
    position: absolute;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.6);
  }
    #container{font-size:48px;
      overflow:hidden;
      list-style:none;
      width:500px;
      height:50px;
      margin:0 auto;
      padding-bottom: 2px;
      text-align: center;
    }
    #container li{height:50px;
      line-height:50px;
      white-space:nowrap;
      overflow:hidden;
    }
    .news_3{position: relative;
     text-align: center;
     color: #fff;
     top: 150px;
margin: 0 auto;
  }
  .login{position: absolute;
    top: 10px;
    right: -5px;
  }
  .login_1{
    width: 600px;
    height: 450px;
    border-radius:20px;
    border: 0px;
    background:url(../images/login-bg.jpg)no-repeat;
    position: fixed; 
    margin: 0 auto;
    top: 100px;
    left: 400px;
  }
  .login_1 h3{
    font-size: 36px;
    color: #eb5424;
   padding-top: 60px;
  }
  /*.login_2 input{
    width: 300px;
    height: 30px;
    background-color: rgba(0,0,0,0.5);
    border: 0px;
    border-radius:5px;
    color: #fff;
    font-family: '宋体';
    margin: 0 auto;
  }*/
  .input_1{
    width: 300px;
    height: 40px;
    background-color: rgba(0,0,0,0.5);
    border: 0px;
    border-radius:5px;
    color: #fff;
    font-family: '宋体';
    margin: 0 auto;
    font-size: 14px;
  }
  .input_2{
    width: 300px;
    height: 40px;
    background-color: rgba(0,0,0,0.5);
    border: 0px;
    border-radius:5px;
    color: #fff;
    font-family: '宋体';
    margin: 0 auto;
    font-size: 14px;
  }
  .login_1{
    display: none;
    z-index: 3;
  }
  .login_3{
    font-size: 24px;
    color: #fff;
    font-family: '宋体';
    position: absolute;
    top: 150px;
    left: 160px;
  }
  .login_4{
    font-size: 24px;
    color: #fff;
    font-family: '宋体';
    position: absolute;
    top: 220px;
    left: 160px;
  }
  .login_5{
    position: absolute;
    top: 280px;
    left: 160px;
  }
  .button_1{
    position: absolute;
    top: 320px;
    left: 160px;
    width: 300px;
    height: 40px;
    line-height: 36px;
    font-size: 18px;
    background: rgb(68, 144, 247);
    border-radius: 8px;
    border:0px;
    color: #fff;
  }
  .cuowu{
    position: absolute;
    top: 0px;
    right: 14px;
    font-size: 24px;
    color: gray;
  }
  /*content1*/
  .gd{
    background:url(../images/bg.jpg) no-repeat;
    width: 100%;
    height: 590px;
    background-attachment: fixed;
    position: relative;
    top: 750px;
    display: block;
    z-index: -3;
  }
  .content_11{
    width: 1200px;
    height: 500px;
    border: 0px;
   position: relative;
   top: -400px;
  
  }
  .img_1{
    position: absolute;
    left: 280px;
    top: 100px;
    margin-top: 50px;
  }
  .img_2{
    position: absolute;
    left: 300px;
    top: 180px;
    margin-top: 50px;

  }
  .img_3{
    position: absolute;
    left: 300px;
    top: 260px;
    margin-top: 50px;
}
.input_3{
    width: 650px;
    height: 50px;
    background-color: rgba(0,0,0,0.5);
    border: 0px;
    border-radius:5px;
    color: #fff;
    font-family: '宋体';
    margin: 0 auto;
    font-size: 14px;
    position: absolute;
    top: 850px;
left: 400px;
}
.input_4{
    width: 650px;
    height: 50px;
    background-color: rgba(0,0,0,0.5);
    border: 0px;
    border-radius:5px;
    color: #fff;
    font-family: '宋体';
    margin: 0 auto;
    font-size: 14px;
    position: absolute;
    top: 920px;
left: 400px;
}
.input_5{
    width: 650px;
    height: 50px;
    background-color: rgba(0,0,0,0.5);
    border: 0px;
    border-radius:5px;
    color: #fff;
    font-family: '宋体';
    margin: 0 auto;
    font-size: 14px;
    position: absolute;
    top: 990px;
left: 400px;
}
.input_6{
    width: 650px;
    height: 300px;
    background-color: rgba(0,0,0,0.5);
    border: 0px;
    border-radius:5px;
    color: #fff;
    font-family: '宋体';
    margin: 0 auto;
    font-size: 14px;
    position: absolute;
    top: 1080px;
    left: 400px;
}
.button_2{
  width: 150px;
  height: 40px;
  background-color: #e83f3f;
  border-radius: 5px;
  border:0px;
  position: absolute;
  top: 1388px;
  left: 400px;
}
/*footer*/
        .footer{background-color: #222;
          width: 100%;
          height: 100px;
          text-align: center;
          position: absolute;
          top: 1430px;
        }
          .footer_copy{color: #fff;
            font-size: 16px;
            font-family:'宋体';
          }
          .copyright1:hover{background-color:#eb5424; }
          .copyright2:hover{background-color:#eb5424; }
          .copyright3:hover{background-color:#eb5424; }
          .copyright4:hover{background-color:#eb5424; }
          .copyright{position: absolute;right: 210px; }